.search {
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}

.searchInput{
    align-self: center;
    margin-top: 50px;
    width: 300px;
}

.searchResponse{
    margin-top: 40px;
    align-self: center;
    width: 300px;
}

.buttons {
    align-self: center;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 75px;
}

.searchConfirmation {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
    width: 300px;
}
